@font-face {
  font-family: "Port";
  src: url(/qassy-elegant-serif-font-typeface/Qassy.ttf);
}

@font-face {
  font-family: "ashanty";
  src: url(/ashanty-handwritten-elegance-meets-beauty-font/FONT/Ashanty.woff);
}
@font-face {
  font-family: "anymore";
  src: url(/anymore-fancy-minimalist-aesthetic-font/Anymore.woff2);
}
:root {
  --general-font: "Port;";
}
body {
  margin: 0;
  color: white;
  background-color: rgb(28, 26, 26);
  display: flex;
}
nav {
  display: block;
}
nav li {
  list-style: none;
  writing-mode: vertical-lr;
  margin-top: 20px;

  padding: 70px 20px 20px 60px;
  font-size: 25px;
}
nav a {
  text-decoration: none;
  color: white;
}
p{
  letter-spacing: 2px;
  line-height: 15px;
  font-size: 20px;
  font-family: "anymore";
}